@font-face {
  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/roboto/Roboto-Medium.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/assets/fonts/roboto/Roboto-Medium.woff2) format('woff2'),
    url(/assets/fonts/roboto/Roboto-Medium.woff) format('woff'),
    url(/assets/fonts/roboto/Roboto-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: 300;
  src: url(/assets/fonts/roboto/Roboto-Light.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/assets/fonts/roboto/Roboto-Light.woff2) format('woff2'),
    url(/assets/fonts/roboto/Roboto-Light.woff) format('woff'),
    url(/assets/fonts/roboto/Roboto-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 500;
  src: url(/assets/fonts/roboto/Roboto-Bold.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/assets/fonts/roboto/Roboto-Bold.woff2) format('woff2'),
    url(/assets/fonts/roboto/Roboto-Bold.woff) format('woff'),
    url(/assets/fonts/roboto/Roboto-Bold.ttf) format('truetype');
}

body, html {
  background: #eceff1;
	color: #263238;
	font-family: 'Roboto Light';
  margin: 0;
  padding: 0;
}

a {
	color: #1d659a;
	text-decoration: none;
	&:hover, &:focus, &:visited {
		color: #185581;
	}
	&:hover {
		text-decoration: underline;
	}
}

.container {
  max-width: 800px;
  margin: 0px auto;
  padding: 2rem;
  background: white;
  height: calc(100vh - 121px);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12),0 1px 5px 0 rgba(0,0,0,.2)
}

nav {
  background: #263238;
  ul {
    margin: 0;
    padding: 1rem;
    list-style: none;
    li {
      display: inline-block;
      a {
        color: white;
        font-weight: 500;
        &:hover, &:focus, &:visited {
          color: white;
        }
      }
    }
  }
}

input {
  padding: 3px 3px;
  border: 1px solid #CCC;
  border-radius: 2px;
  display: block;
  box-sizing: border-box;
  font-family: inherit;
  position: relative;
  &:invalid {
    box-shadow: inset 0px -2px #D50000

  }
}

.dib {
  display: inline-block;
}