<nav>
  <ul>
    <li>
      <img src="/assets/images/bloowatch-logo2.png" alt="">
    </li>
  </ul>
</nav>
<main class="container">
  {{#link-to "dynamic-forms"}} Dynamic Forms {{/link-to}}
  {{outlet}}
</main>